.main-grid {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  grid-gap:10px;
  width: 375px;
}

.digit {
  background-color: grey;
  border-radius: 50%;
  height:75px;
  width: 75px;
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}
